body {
    background-color: black;
}

.buttons {
    padding: 40px 40px;
    margin: 3px 3px 3px 3px;
    border-radius: 8px 8px 8px 8px;
    text-align: center;

}

.button1, .button2, .button3 {
    padding: 80px 80px;
    margin: 5px;
    border: 3px solid #4746a5;
    border-radius: 10px;
    background-color: #706ee4;
    cursor: pointer;
    color: white;
    font-size: 20px;
}

.button4, .button5, .button6 {
    padding: 80px 80px;
    margin: 5px;
    border-radius: 10px;
    border: 3px solid #a13838;
    background-color: #d35151;
    cursor: pointer;
    color: white;
    font-size: 20px;
}

.button7, .button8, .button9 {
    padding: 80px 80px;
    margin: 5px;
    border-radius: 10px;
    border: 3px solid #8f852d;
    background-color: #cec045;
    cursor: pointer;
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
}

.button1:hover, .button2:hover, .button3:hover, .button4:hover, .button5:hover, .button6:hover, .button7:hover, .button8:hover, .button9:hover {
    opacity: 60%;
}

i {
    color: white;
    font-size: 80px;
}

i:hover {
    opacity: 70%;
}
